/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/*
    Journal Capsule
    https://css-tricks.com/snippets/css/complete-guide-grid/
*/

.layout {
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    width: 1024px;
    grid-template-rows: 100px auto;
    grid-template-columns: 300px auto;
}
.container div {
    padding: 5px;
}
.header {
    grid-column-start: span 2;
}
.full {
    grid-column-start: span 2;
}